* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.link-text{
    color: cadetblue;
}
body {
  background-color: #000;
}
.gog{
    font-size: 18px;
}
.container {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container span{
  text-transform: uppercase;
  display: block;
}

.text1{
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: #000;
  position: relative;
  animation: text 3s 1;
  
}
.ggg2{
    display: flex;
    flex-display:row;
    width: 600px;
    height: 600px;
}
.link-header2{
    border: 2px solid rgb(68, 68, 68);
    padding: 15px 20px 15px -280px;
    width: 200px;
    height: 30px;
    margin: 25px -20px 0px 75px;
    border-radius: 15px;
    background-color: rgb(68, 68, 68);
    animation: link 3s 1;
    text-decoration: none;
    color: rgb(43, 133, 250);
}
.link-header{
    text-decoration: none;
    color: rgb(43, 133, 250);
}
.text2{
  color: cadetblue;
  font-size: 22px;
  animation: text2 4s 1;
}
.text3{
    color: cadetblue;
    font-size: 20px;
    transform:color black 3s ;
    animation: text3 4.5s 1;
}
.text4{
    color: cadetblue;
    font-size: 20px;
    transform:color black 3s ;
    animation: text4 5s 1;
}
.text5{
    color: cadetblue;
    font-size: 20px;
    transform:color black 3s ;
    animation: text5 5.5s 1;
}
.text6{
    color: cadetblue;
    font-size: 20px;
    transform:color black 3s ;
    animation: text6 6s 1;
}
.text7{
    color: cadetblue;
    font-size: 20px;
    transform:color black 3s ;
    animation: text7 6.5s 1;
}
@keyframes text{
  0%{
    color: #000;
    letter-spacing: 1500px;
    font-size: 1050px;
    
  }

  30%{
    color: #000;
  }
  50%{
    letter-spacing: 25px;
    
  }
  85%{
    letter-spacing: 8px;
  }
}
@keyframes text3{
    0%{
        opacity: 0;
        font-size: 5px;
    }
    75%{
        opacity: 0;
    }

}
@keyframes text2{
    0%{
        opacity: 0;
        font-size: 5px;
    }
    75%{
        opacity: 0;
    }


}
@keyframes text4{
    0%{
        opacity: 0;
        font-size: 5px;
    }
    75%{
        opacity: 0;
    }


}
@keyframes text5{
    0%{
        opacity: 0;
        font-size: 5px;
    }
    75%{
        opacity: 0;
    }


}
@keyframes text6{
    0%{
        opacity: 0;
        font-size: 5px;
    }
    75%{
        opacity: 0;
    }


}
@keyframes text7{
    0%{
        opacity: 0;
        font-size: 5px;
    }
    75%{
        opacity: 0;
    }


}
